body{
  background: #22c1c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container_reg_form{
  width: 18.75rem;
  height: 15.625rem;
  border: 1px #fff;
  border-radius: 5px;
  border-style: outset;
  display: flex;
  justify-content: center;
  align-items: center;
}
